* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: rockwell;
}

body {
  background-color: whitesmoke;
}

header {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 5%;
  background-color: #0b0014;
  color: whitesmoke;
}

main {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .translator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30%;
  width: 100%;
}

main .translator .user-input {
  margin: 2%;
  padding: 2%;
  text-align: left;
  border: none;
  border-bottom: 2px solid #0b0014;
  border-left: 2px solid #0b0014;
  height: 60%;
  width: 90%;
  background-color: transparent;
  -webkit-transition: color ease-in-out 1s, background-color ease-in-out 1s, border-color ease-in-out 1s;
  transition: color ease-in-out 1s, background-color ease-in-out 1s, border-color ease-in-out 1s;
}

main .translator .user-input::-webkit-input-placeholder {
  color: #0b0014;
  -webkit-transition: color ease-in-out 1s;
  transition: color ease-in-out 1s;
}

main .translator .user-input:-ms-input-placeholder {
  color: #0b0014;
  -webkit-transition: color ease-in-out 1s;
  transition: color ease-in-out 1s;
}

main .translator .user-input::-ms-input-placeholder {
  color: #0b0014;
  -webkit-transition: color ease-in-out 1s;
  transition: color ease-in-out 1s;
}

main .translator .user-input::placeholder {
  color: #0b0014;
  -webkit-transition: color ease-in-out 1s;
  transition: color ease-in-out 1s;
}

main .translator .user-input:focus {
  text-align: left;
  outline: none;
  background-color: #0b0014;
  color: whitesmoke;
  -webkit-transition: background-color ease-in-out 1s, color ease-in-out 1s, border-color 1s ease-in-out;
  transition: background-color ease-in-out 1s, color ease-in-out 1s, border-color 1s ease-in-out;
  border-bottom: 2px solid whitesmoke;
  border-left: 2px solid whitesmoke;
}

main .translator .user-input:focus::-webkit-input-placeholder {
  color: whitesmoke;
}

main .translator .user-input:focus:-ms-input-placeholder {
  color: whitesmoke;
}

main .translator .user-input:focus::-ms-input-placeholder {
  color: whitesmoke;
}

main .translator .user-input:focus::placeholder {
  color: whitesmoke;
}

.output {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30%;
  width: 100%;
}

.output p {
  margin: 2%;
  padding: 2%;
  text-align: left;
  border: none;
  border-top: 2px solid #0b0014;
  border-right: 2px solid #0b0014;
  height: 60%;
  width: 90%;
  background-color: transparent;
  -webkit-transition: color ease-in-out 1s, background-color ease-in-out 1s;
  transition: color ease-in-out 1s, background-color ease-in-out 1s;
}

.output p::-webkit-input-placeholder {
  color: #0b0014;
  -webkit-transition: color ease-in-out 1s;
  transition: color ease-in-out 1s;
}

.output p:-ms-input-placeholder {
  color: #0b0014;
  -webkit-transition: color ease-in-out 1s;
  transition: color ease-in-out 1s;
}

.output p::-ms-input-placeholder {
  color: #0b0014;
  -webkit-transition: color ease-in-out 1s;
  transition: color ease-in-out 1s;
}

.output p::placeholder {
  color: #0b0014;
  -webkit-transition: color ease-in-out 1s;
  transition: color ease-in-out 1s;
}

.output p:focus {
  text-align: left;
  outline: none;
  background-color: #0b0014;
  color: whitesmoke;
  -webkit-transition: background-color ease-in-out 1s, color ease-in-out 1s;
  transition: background-color ease-in-out 1s, color ease-in-out 1s;
}

.output p:focus::-webkit-input-placeholder {
  color: whitesmoke;
}

.output p:focus:-ms-input-placeholder {
  color: whitesmoke;
}

.output p:focus::-ms-input-placeholder {
  color: whitesmoke;
}

.output p:focus::placeholder {
  color: whitesmoke;
}

button {
  color: #0b0014;
  background-color: whitesmoke;
  margin: 1%;
  padding: 0 2%;
}

button:active {
  color: whitesmoke;
  background-color: #0b0014;
}
/*# sourceMappingURL=main.css.map */